{% extends "admin/admin.html" %}
{% load i18n admin_urls static %}

{% block title_admin %}{% trans 'Delete' %} {{ object|truncatewords:"18" }}{% endblock %}

{% block content_title %}
<h3><i class="fas fa-exclamation-triangle me-2 text-danger"></i> {% trans 'Delete' %} {{ object|truncatewords:"18" }}</h3>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card admin-card border-start border-danger border-4">
            <div class="card-body">
                {% if perms_lacking %}
                    <div class="alert alert-warning">
                        <h5><i class="fas fa-exclamation-circle me-2"></i> {% trans "Deleting the" %} {{ object_name }} {% trans "would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:" %}</h5>
                        <ul class="mt-3">
                            {% for obj in perms_lacking %}
                                <li>{{ obj }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elif protected %}
                    <div class="alert alert-warning">
                        <h5><i class="fas fa-exclamation-circle me-2"></i> {% trans "Deleting the" %} {{ object_name }} {% trans "would require deleting the following protected related objects:" %}</h5>
                        <ul class="mt-3">
                            {% for obj in protected %}
                                <li>{{ obj }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-danger">
                        <h5><i class="fas fa-exclamation-triangle me-2"></i> {% trans 'Are you sure?' %}</h5>
                        <p class="mt-3">{% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
                    </div>
                    
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6>{% trans "Objects" %}</h6>
                            <ul>
                                <li>{{ object|capfirst }}: {{ object }}</li>
                                {% for deleteable_object in deleted_objects %}
                                    <li>{{ deleteable_object|capfirst }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}" class="admin-btn admin-btn-secondary">
                                <i class="fas fa-arrow-left me-1"></i> {% trans "No, take me back" %}
                            </a>
                            
                            <button type="submit" class="admin-btn admin-btn-danger">
                                <i class="fas fa-trash me-1"></i> {% trans "Yes, I'm sure" %}
                            </button>
                            
                            <input type="hidden" name="post" value="yes">
                            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}